/*公用内容部分*/
body {
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.weui-media-box__info {
    padding-bottom: 0px;
}

.weui-dialog__btn_primary {
    color: #df3031 !important;
}

.weui-media-box__title {
    color: #000000;
}

.weui-search-bar__cancel-btn {
    color: #df3031 !important;
}

.weui-dialog__btn_default {
    color: #000000 !important;
}

.content {
    padding-bottom: 46px;
}

.index-a {
    text-align: center;
}

.weui-panel-title {
    width: 100%;
    border-bottom: .5px solid #e5e5e5;
    padding: 15px 0;
}

    .weui-panel-title .weui-panel__hd-title {
        margin-left: 15px;
        margin-right: 15px;
        border-left: 4px solid #DF3031;
        font-weight: 400;
        font-size: 17px;
        width: auto;
        overflow: hidden;
        word-wrap: normal;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 1.2;
        text-indent: 10px;
        color: #353535;
    }

.weui-flex {
    background: #ffffff;
}

.weui-panellist {
    margin-top: 0;
    border-top: none;
}

    .weui-panellist:before {
        border-top: none;
    }

.weui-orderlist {
    margin-top: 10px !important;
}

.info-li {
    font-size: 14px;
    color: #353535;
}

.aticleinfo {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #888888;
    line-height: 20px;
    max-height: 60px;
    -webkit-line-clamp: inherit !important;
}

    .aticleinfo::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
    }

.weui-search-bar {
    padding: 8px 8px;
    background-color: #f6f6f6;
    border-bottom: .5px solid #e5e5e5;
}

.weui-search-bar__form {
    background-color: #f6f6f6;
}

.weui-search-bar:after {
    border-bottom: none;
}

.weui-search-bar__form:after {
    border: 1px solid #e5e5e5;
}

.weui-loadmore {
    background: #ffffff !important;
    padding: 1em 0;
    width: 100%;
    margin: 0;
    line-height: normal;
}

.weui-panelly .weui-media-box {
    border-top: .5px solid #e5e5e5;
}

.weui-panelly .weui-panel__bd:nth-child(2) .weui-media-box:nth-child(2) {
    border-top: none;
}

.weui-panelly .weui-media-box:before {
    border-top: none;
}

.weui-panelly .info-li {
    line-height: 18px;
    text-overflow: unset;
    display: -webkit-box;
    -webkit-line-clamp: unset;
}
/*首页banner样式*/
.swiper-container .swiper-slide a img {
    height: auto;
    width: auto\9;
    width: 100%;
    float: left;
}

.yy-indexh4 {
    margin-bottom: 0px !important;
    padding-right:70px;
    overflow:hidden;
    position:relative;
}

.text-plac {
    font-size: 11px;
    color: #353535;
    padding-top: 5px;
}

.swiper-pagination .swiper-pagination-bullet {
    color: #7fffff;
    background: #7fffff;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
    color: #ffffff;
}
/*预约的活动*/
.text-bottom {
    margin-top: 7px;
    display: inline-block;
    width: 30%;
    color: #999;
    text-align: center;
}

.close-img {
    margin-top: 0px !important;
    width: 20px !important;
}

.yy-act .icon-guanbi {
    float: right;
}

.yy-acttt {
    padding: 17px 15px 13px;
}

.yy-acttext {
    padding: 12px 15px;
}
/*二级菜单选项*/
.weui-flex1 {
    padding: 27px 0;
    background: #ffffff;
    border-bottom: .5px solid #e5e5e5;
    /* border-top: .5px solid #e5e5e5;*/
}

.weui-flex1 {
    width: 100%;
}

    .weui-flex1 .weui-flex__item {
        text-align: center;
    }
/*往期活动*/
.weui-media-box_appmsg .weui-media-box__hd {
    margin-right: .5em;
    min-width: 6.75rem;
    min-height: 5.05rem;
    width: 6.75rem;
    height: 5.05rem;
    line-height: 5rem;
    text-align: center;
}

.jq-lytitle {
    overflow: hidden;
    height: 1.6rem;
    line-height: 1.6rem;
    white-space: normal;
    display: inline-block;
    padding-right: 55px;
}

.jq-lytitleright {
    position: absolute;
    right: 0;
    width: 52px;
    background: #ffffff;
}

.old_acth {
    height: 1.6rem;
    line-height: 1.6rem;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

.old_actp1 {
    height: 1.6rem;
    margin-top: 0.3rem;
    overflow: hidden;
}

    .old_actp1 .old_actp1span {
        height: 1rem;
        line-height: 1rem;
        overflow: hidden;
        display: inline-block;
    }

.old_actp2 {
    margin-top: 10px;
    height: 1rem;
}

.old_acth1 {
    height: 3.5rem;
    text-overflow: unset !important;
    white-space: normal !important;
}

    .old_acth1 .old_acth1div {
        position: relative;
        overflow: hidden;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        display: inline-block;
        max-height: 44px;
        -webkit-line-clamp: inherit !important;
    }

        .old_acth1 .old_acth1div::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0;
        }

.old_actimg {
    position: relative;
}

    .old_actimg .actimgico {
        position: absolute;
        top: 1.585rem;
        left: 2.435rem;
        width: 1.88rem;
        height: 1.88rem;
        z-index: 1;
        display: block;
    }

    .old_actimg .actimgico-video {
        position: absolute;
        top: 15px;
        left: 2.435rem;
        width: 1.88rem;
        height: 1.88rem;
        z-index: 1;
        display: block;
    }

    .old_actimg .video-lx {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        background: rgba(0,0,0,0.3);
        z-index: 1;
        display: block;
        text-align: center;
        zoom: 1;
    }

        .old_actimg .video-lx .lx-span {
            color: #ffffff;
            font-size: 11px;
            display: inline-block;
        }

    .old_actimg .old_actimgico-0 {
        background: url(../images/video@3x.png) no-repeat;
        background-size: 100%;
    }

    .old_actimg .old_actimgico-1 {
        background: url(../images/audio@3x.png) no-repeat;
        background-size: 100%;
    }

.img-border:before {
    right: 15px;
}
/*近期调研路演*/
.weui-panelly .listinfo-title {
    color: #000000;
    position: relative;
    height: 1.6rem;
}

.weui-panelly .weui-cell:before {
    left: 0 !important;
}

.call-panel .weui-cell:before {
    left: 0 !important;
}

.weui-ft {
    float: right;
    width: 50px;
    height: 20px;
    padding: 0;
    margin-top: 2px;
    font-size: 11px;
    line-height: 20px;
    border-radius: 4px;
}

.text-bottom {
    margin-top: 5px;
    width: 70px;
    text-align: right;
    position: absolute;
    right: 0;
}

.weui-tab {
    background: #ffffff !important;
}

.weui-ing {
    border-radius: 2px;
}

.weui-media-box_text1 {
    margin-left: 60px;
    padding: 15px 15px 15px 0px;
}

.h-actpanel {
    margin-top: 10px !important;
}

.jq-lyli {
    width: 69%;
    overflow: hidden;
    padding-right: 0;
    height: 1rem;
    line-height: 1rem;
    color: #888888;
    font-size: 11px;
}

.jq-wayli {
    width: 30%;
    overflow: hidden;
    padding-right: 0;
    text-align: right;
    height: 1rem;
    line-height: 1rem;
    color: #b2b2b2;
    font-size: 11px;
}

.weui-panel1 .weui-panel__bd:first-child .weui-media-box::before(0) {
    border-top: 0;
}

.weleft-time {
    width: 32px;
    height: 44px;
    border: .5px solid #888888;
    text-align: center;
    margin-left: 15px;
    float: left;
    margin-top: 15px;
    padding: 0;
    line-height: 1.3;
}

    .weleft-time .left-m {
        display: inline-block;
        width: 100%;
        font-size: 11px;
        color: #000000;
    }

    .weleft-time .left-d {
        display: inline-block;
        width: 100%;
        font-size: 18px;
        color: #000000;
    }

    .weleft-time .left-md {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        color: #000000;
        line-height: 1;
    }

    .weleft-time .left-dd {
        display: inline-block;
        width: 100%;
        font-size: 12px;
        color: #000000;
    }

.listinfo-title {
    margin-bottom: 5px !important;
}

.actzj-li {
    color: #888888;
    overflow: hidden;
    width: 69%;
    padding-right: 0;
    height: 1rem;
    line-height: 1rem;
    color: #888888;
    font-size: 11px;
}

.actlx-li {
    color: #b2b2b2;
    width: 30%;
    float: right;
    padding-right: 0;
    text-align: right;
    height: 1rem;
    line-height: 1rem;
    color: #b2b2b2;
    font-size: 11px;
}
/*底部菜单栏*/
.weui-tabbar {
    position: fixed;
    background: #ffffff;
    padding: 1px 0;
}

    .weui-tabbar:before {
        border-top: 1.2px solid #D9d9d9 !important;
    }

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    color: #DF3031;
}


/*我的*/
.me-meimg {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 6px;
    border: .5px solid #e5e5e5;
}

.me-li * {
    display: inline-block;
    vertical-align: middle;
}

.top-me {
    line-height: 25px;
    font-size: 17px;
    color: #000000;
}

.me-right {
    font-size: 15px;
    color: #888888;
}

.me-li .icospan {
    width: 35px;
    display: inline-block;
    text-align: center;
}

.weui-cell__bd .yrz-lf {
    float: right;
    font-size: 11px;
    color: #888888;
}

.top-men {
    font-size: 13px;
    color: #353535;
    line-height: 20px;
    margin-top: 10px;
}

.top-mel {
    font-size: 13px;
    color: #888888;
    line-height: 20px;
    margin-top: 10px;
}
/*roadshowlist*/
.jh-title {
    display: inline-block;
    /* width: 75%;*/
    overflow: hidden;
    height: 1.6rem;
    line-height: 1.6rem;
    white-space: normal;
    padding-right: 55px;
}

.weui-navbar__item {
    padding: 0;
}

    .weui-navbar__item span {
        height: 44px;
        line-height: 44px;
        width: auto;
        display: inline-block;
        color: #353535;
    }

.jhb__item_on span {
    color: #df3031;
    font-size: 15px;
    border-bottom: 3px solid #df3031;
}

.jhbui-navbar {
    position: initial;
    background: #ffffff;
    border-bottom: .5px solid #e5e5e5;
}

.weui-navbar__item:after {
    border-right: none;
    position: initial;
    color: #353535;
}
/*articlelist*/
.article-litime {
    padding-right: 0;
    width: 50%;
    color: #b2b2b2;
    text-align: right;
    font-size: 11px;
}

.article-li {
    color: #888888;
    padding-right: 0;
    width: 50%;
    font-size: 11px;
}

    .article-li i {
        margin-right: 6px;
    }

.article-ul {
    margin-top: 20px;
    padding-bottom: 0;
}

.tel-ul {
    margin-top: 20px;
    padding-bottom: 0;
}

.tel-li {
    color: #888888;
    padding-right: 0;
    width: 75%;
    font-size: 11px;
    overflow: hidden;
    height: 1rem;
    line-height: 1rem;
}

.tel-litime {
    padding-right: 0;
    width: 25%;
    font-size: 11px;
    color: #b2b2b2;
    text-align: right;
    line-height: 1rem;
}
/*认证弹窗*/
.weui-flex2 {
    border-bottom: none;
    padding: 15px 0 0 0;
    border-top: none;
}

.pop-gstitle {
    padding: 20px 4% 0px 4%;
}

.pop-xx1 {
    padding-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5px;
    width: 92%;
    text-align: center;
    font-size: 15px;
    color: #888888;
    border-bottom: .5px solid #e5e5e5;
}

.text-rz {
    font-size: 14px;
    color: #888888;
    padding-top: 5px;
}

.list-title {
    position: relative;
    overflow: hidden;
    font-size: 17px;
    color: #000000;
    line-height: 24px;
    max-height: 48px;
    -webkit-line-clamp: inherit !important;
    text-overflow: unset !important;
    word-wrap: normal !important;
    white-space: normal !important;
}

    .list-title::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
    }

.weui-cell_access {
    padding: 5px 15px;
}

.rz-access {
    padding: 7px 15px;
}

.weui-panel__ft .weui-cell_access {
    padding: 15px 15px !important;
}

.weui-cells {
    margin-top: 20px;
}

    .weui-cells:first-child {
        margin-top: 15px;
        padding: 2px 0;
    }
/*状态颜色值*/
.weui-ing-0 {
    /* background-color: #f43530;*/
}

.weui-ing-1 {
    /* background-color: #00c765;*/
}

.weui-ing-2 {
    background-color: #4E93C5;
}

.weui-ing-3 {
    background-color: #4E93C5;
}

.weui-ing-4 {
    background-color: #df3031;
}

.weui-ing-5 {
    background-color: #b2b2b2;
}

.weui-ing-6 {
    background-color: #4E93C5;
}

.weui-ing-7 {
    /*background-color: #f43530;*/
}

.weui-ing-8 {
    background-color: #b2b2b2;
}

.weui-ing-9 {
    /* background-color: #f43530;
    */
}

.weui-media-box__thumb {
    height: 100% !important;
}

.call-h4 {
    text-overflow: unset !important;
    word-wrap: normal;
    word-wrap: normal !important;
    word-wrap: normal !important;
    word-break: normal !important;
    white-space: normal !important;
}

.my-yytime {
    color: #888888;
    font-size: 11px;
    margin-top: 5px;
}
