
		<div class="form-group">
					<button class="btn btn-warning" ng-click="goBack()">返回</button>
				</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" name="myForm"  ng-submit="ok(1)" novalidate>
					<div class="form-group">
						<label class="col-sm-2 control-label">主题</label>
						<div class="col-sm-8">
							<input type="text" maxlength="50" class="form-control" placeholder="请输入主题" ng-model="configItem.title" required>
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">列表图片</label>
						<div class="col-sm-8">
							<div class="image-box ub ub-ac text-center ub-pc" dw-loading="upLoadListImg" dw-loading-options="{active: false,text: '正在上传图片，请稍后...',spinnerOptions: {color: '#00C4CA'}}">
		        			 <input onchange="angular.element(this).scope().uploadImg(this.files,'listUrl')" ngf-select ng-model="file" name="file"  ngf-max-size="20MB" type="file" accept="image/*" image="image1" name="image1" />
		        			        			 
		        		</div>
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
					<div class="form-group">
			         	<div class="col-md-10 col-md-offset-2">
			         	<img src="{{listUrl}}" height="74" width="92" />
			            </div>
			         </div>
			         <div class="form-group">
						<label class="col-sm-2 control-label">分享图片</label>
						<div class="col-sm-8">
							<div class="image-box ub ub-ac text-center ub-pc" dw-loading="upLoadTrainImg" dw-loading-options="{active: false,text: '正在上传图片，请稍后...',spinnerOptions: {color: '#00C4CA'}}">
		        			 <input onchange="angular.element(this).scope().uploadImg(this.files,'shareUrl')" ngf-select ng-model="file1" name="file1"  ngf-max-size="20MB" type="file" accept="image/*" image="image1" name="image1" />
		        			        			 
		        		</div>
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
					<div class="form-group">
			         	<div class="col-md-10 col-md-offset-2">
			         	<img src="{{shareUrl}}" height="74" width="92" />
			            </div>
			         </div>
			         		<div class="form-group">
						<label class="col-sm-2 control-label">分享描述</label>
						<div class="col-sm-8">
							<input type="text" maxlength="50" class="form-control" placeholder="请输入分享描述" ng-model="configItem.shareTitle" required>
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">正文</label>
						<div class="col-sm-8">
							<label class="radio-inline">
							<input name="display" type="radio" value="false" ng-model="conStatus">文本添加
							</label>
							<label class="radio-inline">
							<input name="display" type="radio" value="true" ng-model="conStatus">链接</label>
							<input type="text" maxlength="50" ng-disabled="conStatus=='false'" class="form-control" placeholder="" ng-model="configItem.contentUrl">
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-8">
					        <ng-simditor content="configItem.content" style="margin-bottom:1.25rem;width:100%;"></ng-simditor>
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">发布人</label>
						<div class="col-sm-8">
							<input type="text" maxlength="50" class="form-control" placeholder="请输入发布人" ng-model="configItem.modifyName"  required>
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
				   <div class="form-group">
						<label class="col-sm-2 control-label">发布时间</label>
						<div class="col-sm-8">
							<label class="radio-inline">
							<input name="display" type="radio" value="true" ng-model="sendTimeStatus" required>即时发布
							</label>
							<label class="radio-inline">
							<input name="display" type="radio" value="false" ng-model="sendTimeStatus">定时发布</label>
							<input type="text" maxlength="50" ng-disabled="sendTimeStatus=='true'" class="form-control" placeholder="请输入发布时间" ng-model="configItem.publishTime">
						</div>
						<label class="control-label" style="color: red;">*</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="ok(1)">
                      保存
      			</button>
				<button class="btn btn-warning" ng-click="ok(0)">存草稿</button>
			</div>
		</form>