<script type="text/javascript">
	function LoadData(id) {
		var chart = new Highcharts.Chart({
			chart: {
				renderTo: 'container'+id,
				type: 'line' //设定图表类型
			},
			colors: ['red', '#2ea09e'], //设置图表序列的颜色表。当所有的色彩都使用,新的颜色被拖出重新开始
			credits: false, //设置去掉HighCharts链接
			title: {
				text: '' //设定图表主标题
			},
			xAxis: {
				categories: ['1月', '2月', '3月', '4月', '5月', '6月',
						'7月', '8月', '9月', '10月', '11月', '12月'
					]
					//,minorGridLineColor:'red'
					//,gridLineColor: 'red',//设置x轴网格颜色
					,
				gridLineWidth: 0 //设置x轴网格宽度
					,
				lineWidth: 0,
				tickWidth: 0,
				labels: {
					enabled: true,
					style: {
						color: '#2ea09e',
						fontSize: '8pt'
					}
				}
			},
			yAxis: {
				title: {
					text: ''
				},
				labels: {
					enabled: false,
					formatter: function() {
						return '￥' + this.value
					}
				},
				gridLineWidth: 0 //设置y轴网格宽度
					//,gridLineColor: 'green'//设置y轴网格颜色   
					//,lineWidth: 2   //设置y轴网格格线宽度         
			},
			tooltip: {
				//                        crosshairs: true, //设定光标悬停的值的线                             
				formatter: function() {
					return '￥' + this.y; //设定光标悬停的值的格式
				},
				style: { //提示框内容的样式
					color: 'white',
					padding: '12px', //内边距 (这个会常用到)
					fontSize: '9pt'
				},
				shared: false,
				borderRadius: 0,
				borderWidth: 1,
				borderColor: '#2ea09e',
				backgroundColor: '#2ea09e'
			},
			legend: {
				enabled: false //设定是否显示图例
			},
			plotOptions: {
				line: {
					marker: {
						radius: 6,
						lineColor: '#2ea09e', //设定图例框线颜色
						lineWidth: 3, ////设定图例框线宽
						fillColor: 'white' //设定图例填充颜色
					}
				}
			},
			series: [{
				name: '',
				marker: {
					symbol: 'circle'
				},
				data: [77712.0, 66611.9, 61119.5, 61142.5, 61182.2, 62210.5, 82253.2, 92265.3, 92231.3, 91118.3, 71123.9, 99999.6],
				lineColor: '#2ea09e' //单独设定序列的颜色，此设置将优先于 colors中颜色的设置
			}]
		});
	}
	$(function() {
		LoadData(1);
		LoadData(2);
		LoadData(3);
		LoadData(4);
	});
</script>
<style type="text/css">
	.tablelist1 {
		background-color: #999999;
		width: 100%;
	}
	
	.tablelist1 tr th {
		background-color: #FFFFFF;
		line-height: 22px;
		padding-left: 1px;
	}
	
	.tablelist1 tr td {
		background-color: #FFFFFF;
		font-size: 12px;
		height: 20px;
		padding-left: 3px;
		line-height: 22px;
	}
</style>
<table cellpadding="1" cellspacing="1" class="tablelist1" style="border:dotted #2ea09e;">
	<tr>
		<td style="text-align: center;">
			88<br>
			新增客户（人）
		</td>
		<td style="text-align: center;">
			88<br>
			新增理财师（人）
		</td>
		<td style="text-align: center;">
			88<br>
			新增预约（笔）
		</td>
		<td style="text-align: center;">
			88<br>
			新增成单金额（元）
		</td>
	</tr>
		<tr>
		<td style="text-align: center;">
			888<br>
			累计客户（人）
		</td>
		<td style="text-align: center;">
			888<br>
			累计理财师（人）
		</td>
		<td style="text-align: center;">
			888<br>
			累计预约（笔）
		</td>
		<td style="text-align: center;">
			888<br>
			累计成单金额（元）
		</td>
	</tr>
</table>
<br>
<table cellpadding="1" cellspacing="1" class="tablelist1">
	<tr>
		<td>
		<div style="width: 49%; float:left">
			新增客户
		</div>
		<div  style="width: 49%; float:right">
			新增理财师
		</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="container1" style="width: 49%; height: 225px;float:left">
			</div>
			<div id="container2" style="width: 49%; height: 225px;float:right">
			</div>
		</td>
	</tr>
	<tr>
		<td style="height: 20px;"></td>
	</tr>
	<tr>
		<td>
		<div style="width: 49%; float:left">
			新增预约
		</div>
		<div  style="width: 49%; float:right">
			新增成单金额
		</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="container3" style="width: 49%; height: 225px;float:left">
			</div>
			<div id="container4" style="width: 49%; height: 225px;float:right">
			</div>
		</td>
	</tr>
</table>